// src/assets/styles/globals.scss

// CSS Reset (You can use a popular reset or normalize.css)
// Example: Eric Meyer's Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Base body styles
body {
  font-family: 'Arial, sans-serif';
  line-height: 1.6;
  background-color: hsl(0, 0%, 7%);
  overflow-x: hidden;
  min-width: 100vw;
  color: #fff;
}

// Links
a {
  color: #27ae60;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}


.home-container {
  display: flex;
  flex-direction: column;
}

@media (max-width: 800px) {
  .home-container {
    flex-direction: column-reverse;
  }
}
